@font-face {
    font-family: myFont;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
  }

body{
    font-size: 18px;
    margin: 0;
    font-family: myFont;
}

section{
    display: flex;
    flex-direction: column;
}

.score-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 25px 25px;
    color:  hsl(241, 100%, 89%)
}

.score-preview aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.score-number{
    font-size: 72px;
    font-weight: 800;
    color: hsl(0, 0%, 100%)
}

h3{
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

p{
    width: 76%;
    padding-bottom: 25px;
}

.score-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.score-summary p {
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.score-summary p:nth-child(1){
   padding: 0;
   margin-left: -15px;
   font-weight: 700;
}
.score-summary p:nth-child(2){
    background-color: hsl(0, 100%, 95%);
    color: hsl(0, 100%, 67%);;
}
.score-summary p:nth-child(3){
    background-color: hsl(39, 100%, 95%);
    color: hsl(39, 100%, 56%);
}
.score-summary p:nth-child(4){
    background-color: hsl(166, 100%, 95%);
    color: hsl(166, 100%, 37%);
}
.score-summary p:nth-child(5){
    background-color: hsl(234, 85%, 95%);
    color: hsl(234, 85%, 45%);
}

.img-icon{
    display: flex;
    flex-direction: row;

}

.img-icon img {
    padding-right: 15px;
}

.button-score{
    width: 85%;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    background-color: hsl(224, 30%, 27%);
    border: none;

}

.score-value{
    color: black;
    font-weight: 700;
}

.score-max{
    color: hsl(242deg 8.78% 56.84%);
}

.button-score:hover, .button-score:focus {
    cursor: pointer;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

@media (min-width: 768px) { 
    html,body{
        height: 100vh;
        
    }
    section{
        flex-direction: row;
        justify-content: center;
    }
    .container{
        height: 98vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .score-preview{
        width: 350px;
        border-radius: 25px;
        position: relative;
        right: -20px;
    }
    .score-summary{
        width: 350px;
        border-radius: 0 25px 25px 0;
        box-shadow: 4px 10px 70px -35px black;
    }
 }